@model IEnumerable<TJJ.Areas.Admin.Models.tbl_Tickets>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dashboard_layaout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div style="width:100%;height:400px;overflow:scroll;">
    <div style="width:150%;">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ticket_answer_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ticket_date_time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ticket_subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ticket_desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.read_ticket)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AspNetUser.fname)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ticket_answer_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ticket_date_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ticket_subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ticket_desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.read_ticket)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.fname)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ticket_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ticket_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ticket_id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>