@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "جزئیات";
    Layout = "~/Views/Shared/_dashboard_layaout.cshtml";
}

<div>
    <h4>نقش ها</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<h4>لیست کاربران این نقش</h4>
@if (ViewBag.UserCount == 0)
{
    <hr />
    <p>هیچ کاربری با این نقش یافت نشد.</p>
}

<table class="table">

    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("بازگشت به لیست نقش ها", "Index")
</p>



