@model TJJ.Areas.Admin.DataViewModel.ManageUsersViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_dashboard_layaout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ManageUsersViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code_melli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code_melli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inviter_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inviter_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gold_charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gold_charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDateTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
