@model IEnumerable<TJJ.Areas.Admin.DataViewModel.ManageUsersViewModel>

@{
    ViewBag.Title = "نمایش و مدیریت کاربران سایت";
    Layout = "~/Views/Shared/_dashboard_layaout.cshtml";
}

<div style="width:100%;height:400px;overflow:scroll;">
    <div style="width:150%;">
        <table class="table">
            <tr>
                <th>
                    ردیف
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.code_melli)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.birthday_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.confirm_Account_Bank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.user_type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.inviter_code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gold_charge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rial_charge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegisterDateTime)
                </th>
                <th></th>
            </tr>

            @{ 
                int indx = 0;
            }

            @foreach (var item in Model)
            {
                indx++;
                <tr>
                    <td>
                        @indx
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.code_melli)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birthday_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.confirm_Account_Bank)
                        <br />
                        @Html.DisplayFor(modelItem => item.dest_Card_Number)
                        @Html.DisplayFor(modelItem => item.dest_Account_Number)
                    </td>
                    <td>
                        @Data_Layer.Tjj_Convertors.Get_User_Type(item.user_type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.inviter_code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                        @Html.DisplayFor(modelItem => item.PhoneConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gold_charge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rial_charge)
                    </td>
                    <td>
                        @try
                        {
                            @Data_Layer.Tjj_Convertors.Get_Date_and_Time(item.RegisterDateTime)
                        }
                        catch (Exception)
                        {
                            <p>
                                خطا
                            </p>
                        }
                    </td>
                    <td>
                        <button class="btn btn-outline-info" onclick="details_us('@(item.ID)')">جزئیات</button>
                        @Html.ActionLink("ارسال پیام", "SendTicket", "ManageTickets", new { userid = item.ID, ticketid = 0 }, new { @class = "btn btn-outline-primary" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


<div class="modal fade" id="my-modal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius:30px;">
            <div class="modal-header">
                <h5 class="modal-title" id="my-modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="my-modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>

@section users_manager
{
    navigation__active
}

@section scripts{
    <script src="~/Scripts/modal.js"></script>
    <script>

        function details_us(id) {
            $('#my-modal-1').modal();
            $.get("/Admin/ManageUsers/Details/" + id, function (result) {
                $('#my-modal-title').html('جزئیات کاربر');
                $('#my-modal-body').html(result);
            });
        }
    </script>

}